<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ThreeTech</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/main.css'>
    <link rel="shortcut icon" type="imagex/png" href="static/img/Group-28.ico">
</head>

<body>
    <main>
        <header>
            <div class="divNav">
                <nav>
                    <div class="navLogoTexto">
                        <div class="navLogo" style="border-right: 2px solid;">
                            <img class="imgNav" src="static/img/Vector.svg" alt="">
                        </div>
                        <div class="navTexto">
                            <p>ThreeTech</p>
                        </div>
                    </div>
                   
                    <div class="navHamburguer">
                        <ul class="navLista">
                            <li><a href="#secQuemSomos" class="link1" class='nav-link'>Sobre</a></li>
                            <li><a href="#divQuemsomos" class="link1" class='nav-link'>Atividades</a></li>
                            <li><a href="#secintegra" class="link1" class='nav-link'>Equipe</a></li>
                            <li><a href="#projeto" class="link1" class='nav-link'>Projeto</a></li>
                        </ul>
                            
                    </div>
                </nav>
            </div>
        </header>
        <article>
            <section class="">
                <div class="imgArticle inicio">
                    <!-- olá
                    nos somos a TreeTech
                    -->
                    <div class="divTexto">
                        
                            <h2 class="texto1">Olá</h2>
                            <h2 class="texto2">Nós somos a <span class="texto3">ThreeTech</span>!</h2>
                            
                        
                    </div>
                </div>
            </section>
            <section class="secQuemSomos" id="secQuemSomos">
                <div class="quemsomosDiv">
                    <div style="color: white;" class="quemSomosTitulo">
                        <h2 style="margin-bottom: 10px;">Quem somos nós?</h2>
                        <p class="text">Nossa equipe é especializada no desenvolvimento de projetos voltados para melhorar a
                            qualidade do ecossistema e o bem-estar das formas de vida que o habita. Nossas iniciativas
                            incorporam avanços tecnológicos significativos, benefícios tanto para o meio ambiente quanto
                            para a sociedade em geral.</p>
                    </div>
                    <div class="corte"></div>
                    <div>
                        <img src="static/img/Logo.svg" style="width: 100%; height: 100%; margin-top: 50px;" alt="logo img">
                    </div>
                </div>
            </section>
            <section class="juntos">
            <svg viewBox="10 10 1800 475" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.00049 0L1826 0.000366211V103.698C1786.88 114.981 1749.84 131.468 1710.23 131.533C1582.49 131.743 1572.94 26.5328 1218.03 73.2087C737.861 203.033 648.027 29.8462 480.377 73.2087C402.465 93.3608 390.985 192.341 321.585 211.533C241.24 176.533 480.377 136.033 74.856 54.5328C47.6526 48.7888 27.8303 70.0274 4.00049 85.0328V0Z" fill="#0082CD"/>
                <g filter="url(#filter0_d_742_167)">
                <ellipse cx="13.279" cy="26.9899" rx="13.279" ry="26.9899" transform="matrix(-0.723307 -0.690526 0.836799 -0.54751 142.147 333.427)" fill="#29A9F2"/>
                </g>
                <g filter="url(#filter1_d_742_167)">
                <path d="M196.969 263.104C207.109 256.47 220.363 246.533 224.159 255.033C228.588 259.033 222.724 271.378 212.584 278.012C202.445 284.646 190.729 286.687 186.417 282.571C182.105 278.454 186.829 269.738 196.969 263.104Z" fill="#29A9F2"/>
                </g>
                <g filter="url(#filter2_d_742_167)">
                <ellipse cx="11.8737" cy="38.8451" rx="11.8737" ry="38.8451" transform="matrix(-0.767001 -0.641646 0.801279 -0.598291 38.6633 333.252)" fill="#29A9F2"/>
                </g>
                <g filter="url(#filter3_d_742_167)">
                <path d="M111.073 92.9252C117.988 82.7681 127.919 76.3737 133.255 78.6429C138.591 80.9121 137.311 90.9856 130.397 101.143C123.482 111.3 110.559 134.802 105.223 132.533C99.8871 130.264 104.158 103.082 111.073 92.9252Z" fill="#0082CD"/>
                </g>
                <g filter="url(#filter4_d_742_167)">
                <path d="M29.0232 178.534C49.2763 148.532 68.8886 132.082 87.1964 137.693C105.504 143.304 92.472 227.867 78.6516 256.034C66.7009 280.391 35.209 287.299 4.00001 315.233L4.00054 315.232L4 224.695C10.88 208.839 19.2734 192.977 29.0232 178.534Z" fill="#29A9F2"/>
                </g>
                <g filter="url(#filter5_d_742_167)">
                <path d="M122.215 140.162C146.244 101.093 159.085 74.227 176.745 81.0116C194.406 87.7962 226.322 91.61 209.611 118.781C196.053 181.611 132.055 221.672 114.395 214.887C96.7346 208.102 105.504 167.332 122.215 140.162Z" fill="#0082CD"/>
                </g>
                <g filter="url(#filter6_d_742_167)">
                <path d="M67.0858 357.011C52.6008 371.735 10.2467 403.652 19.8167 409.533C29.3867 415.414 77.0861 407.842 91.5712 393.118C106.056 378.394 128.751 317.126 119.181 311.245C109.611 305.364 72.6661 343.64 67.0858 357.011Z" fill="#9BDAFF"/>
                </g>
                <g filter="url(#filter7_d_742_167)">
                <path d="M4.00049 342.623L4.00049 375.033C18.5069 371.513 60.7386 339.482 51.7415 334.816C46.146 331.914 22.318 337.021 4.00049 342.623Z" fill="#9BDAFF"/>
                </g>
                <g filter="url(#filter8_d_742_167)">
                <path d="M4.00049 409.474L4.00049 466.479C27.9837 442.965 44.0068 429.418 31.3847 422.122C25.8693 418.934 15.9733 413.577 4.00049 409.474Z" fill="#9BDAFF"/>
                </g>
                <g filter="url(#filter9_d_742_167)">
                <path d="M115.978 238.533C93.8041 243.351 97.4097 245.12 100.162 253.033C102.914 260.946 101.641 301.933 111.941 301.679C139.242 301.006 195.448 263.305 206.554 234.588C203.802 226.675 138.152 233.716 115.978 238.533Z" fill="#29A9F2"/>
                </g>
                <g filter="url(#filter10_d_742_167)">
                <path d="M202.65 163.533C194.324 178.914 188.784 190.839 167.274 210.839C155.254 223.839 253.314 199.838 221.049 245.338C238.13 249.839 365.291 164.839 270.395 118.839C238.763 107.339 199.486 160.033 202.65 163.533Z" fill="#0082CD"/>
                </g>
                <g filter="url(#filter11_d_742_167)">
                <path d="M4.00049 95.8671L4.00049 192.921C21.2684 176.088 46.4149 119.722 70.353 124.451C109.651 132.213 91.7927 75.3645 74.342 68.3336C57.6652 61.614 18.7839 76.8766 4.00049 95.8671Z" fill="#0082CD"/>
                </g>
                <defs>
                <filter id="filter0_d_742_167" x="126.578" y="292.087" width="57.0979" height="42.7861" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter1_d_742_167" x="180.821" y="251.751" width="48.8337" height="40.9463" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter2_d_742_167" x="24.2427" y="277.929" width="72.8784" height="56.9277" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter3_d_742_167" x="98.8228" y="78.1855" width="41.7278" height="62.501" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter4_d_742_167" x="0" y="136.604" width="100.212" height="186.629" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter5_d_742_167" x="100.695" y="79.9629" width="117.612" height="143.671" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter6_d_742_167" x="14.4236" y="310.636" width="111.041" height="108.896" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter7_d_742_167" x="0.000488281" y="333.976" width="56.9858" height="49.0576" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter8_d_742_167" x="0.000488281" y="409.474" width="39.8083" height="65.0059" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter9_d_742_167" x="94.0996" y="231.021" width="116.454" height="78.6592" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter10_d_742_167" x="162.247" y="117.201" width="146.991" height="136.309" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                <filter id="filter11_d_742_167" x="0.000488281" y="66.7207" width="97.9336" height="134.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_167"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_742_167" result="shape"/>
                </filter>
                </defs>
                </svg>
                
                <section class="nossasAtividadesSec">
                    <div class="nossasAtividadesTitulo">
                    <h2 class="nossasAtividadesh2">Quais são nossas atividades?</h2>
                </div>
                <div class="divQuemsomos"  id="divQuemsomos">
                    <div class="oqfazemos">
                        <img class="imgQuemsomos" src="static/img/DesenvolvedorWeb.svg" alt="">
                        <div class="texto">
                            <p class="paper">Desenvolvimento Web</p>
                        </div>
                    </div>
                    <div class="oqfazemos">
                        <img class="imgQuemsomos" src="static/img/MachineLearning.svg" alt="">
                        <div class="texto">
                            <p class="paper">Machine learning</p>
                        </div>
                    </div>
                    <div class="oqfazemos">
                        <img class="imgQuemsomos" src="static/img/Suporte.svg" alt="">
                        <div class="texto">
                            <p class="paper">Suporte</p>
                        </div>
                    </div>
                    <div class="oqfazemos">
                        <img class="imgQuemsomos" src="static/img/EngenhariadeSoftware.svg" alt="">
                        <div class="texto">
                            <p class="paper">Engenharia de Software</p>
                        </div>
                    </div>
                </div>
            </section>
            </section>
            <section class="juntos2">
                <svg class="bg-svg" viewBox="0 -13 1795 172" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1892 62.9398C7.86434 60.8673 3.85248 58.9448 0 57.263V172C224.998 172 482.406 165.602 653.181 165.602C727.496 165.602 897.796 169.069 983.898 165.602C1120.01 165.602 1323.19 165.602 1512.66 165.602C1697.77 161.085 1498.33 165.602 1795 165.602V68.9495C1779.26 66.1596 1762.45 63.9 1744.52 62.2096C1711.05 59.055 1684.54 49.1368 1655.09 38.1197C1593.78 15.185 1519.74 -12.5119 1343.76 6.13157C1218.63 32.2881 1117.02 46.5411 1033.96 53.2623L910.976 58.2356C812.143 57.7013 751.119 44.9814 709.485 36.3029C699.179 34.1546 690.06 32.2539 681.851 30.847C559.869 9.94345 446.589 40.1678 348.254 66.4045C286.403 82.907 230.464 97.8318 181.993 97.4641C82.661 96.7106 40.6488 76.5779 12.1892 62.9398ZM950.786 57.8088C961.433 57.5302 972.464 57.115 983.898 56.548L950.786 57.8088Z" fill="#0082CD"/>
                    </svg>
                    
                    
                        
                    <div class="secintegra" id="secintegra">
                        <div class="divIntegrantesEquipe">
                            <h2 style="color: white;
                            margin-top: 30px;
                            margin-bottom: 40px;">Integrantes da equipe</h2>
                        </div>
                        <div class="quadroIntegrantes">
                            <div class="paulo">
                                <picture class="pictureFoto">
                                    <img class="fotogrupo" src="static/img/pauloFoto.png" alt="">
                                </picture>
                                <div class="Tudo">
                                    <div>
                                        <p>Paulo Candiani</p>
                                    </div>
                                    <div class="areaInte">
                                        Ux/Ui Design
                                    </div>
                                </div>
                                
                            </div>
                            <div class="paulo">
                                <picture class="pictureFoto">
                                    <img class="fotogrupo" src="static/img/julianoFoto.png" alt="">
                                </picture>
                                <div class="Tudo">
                                    <div>
                                        <p>Juliano Rodrigues</p>
                                    </div>
                                    <div class="areaInte">
                                        Analista de Dados
                                    </div>
                                </div>
                            </div>
                            <div class="paulo">
                                <picture class="pictureFoto">
                                    <img class="fotogrupo" src="static/img/mauricioFoto.png" alt="">
                                </picture>
                                <div class="Tudo">
                                    <div>
                                        <p>Mauricio Bertoldo</p>
                                    </div>
                                    <div class="areaInte">
                                        Desenvolvedor Web
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
            </section>
            <section class="juntos 3" style=" background-color: #F1F1F1;box-shadow: 0px 5px 5px 0px rgba(219,219,219,1);    padding-bottom: 30px;
            ">
            <svg viewBox="0 10 1780 802" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_763_168)">
                <path d="M1800 559.844L1799.98 643.852C1787.46 631.997 1774.17 602.774 1754.61 608.457C1726.12 623.563 1731.63 528.676 1748.98 517.821C1765.74 507.34 1800 559.844 1800 559.844Z" fill="#51B3EB"/>
                </g>
                <g filter="url(#filter1_d_763_168)">
                <path d="M1799.98 669.371L1799.98 793.256C1798.32 789.725 1796.71 786.083 1795.16 782.341C1774.11 731.703 1771.12 681.853 1788.48 670.999C1791.85 668.891 1795.74 668.409 1799.98 669.371Z" fill="#9BDAFF"/>
                </g>
                <g filter="url(#filter2_d_763_168)">
                <path d="M1723.26 508.337C1731.23 532.51 1726.64 594.394 1716.52 599.42C1706.39 604.446 1691.72 588.925 1683.74 564.752C1675.77 540.579 1662.82 481.136 1672.94 476.11C1685.61 465.058 1708.05 503.271 1723.26 508.337Z" fill="#29A9F2"/>
                </g>
                <g filter="url(#filter3_d_763_168)">
                <path d="M1799.98 466.495V546.413C1797.58 542.082 1795.23 537.455 1792.98 532.584C1777.41 498.868 1772.5 466.185 1782 459.583C1786.27 456.613 1792.74 459.428 1799.98 466.495Z" fill="#29A9F2"/>
                </g>
                <g filter="url(#filter4_d_763_168)">
                <ellipse cx="26.912" cy="64.1712" rx="26.912" ry="64.1712" transform="matrix(0.82125 -0.570569 0.419188 0.9079 1658.6 384.252)" fill="#0082CD"/>
                </g>
                <g filter="url(#filter5_d_763_168)">
                <path d="M1799.98 435.773C1790.62 444.235 1780.11 457.235 1773.92 453.12C1755.98 441.195 1787.99 342.492 1799.98 331.838L1799.98 435.773Z" fill="#0082CD"/>
                </g>
                <g filter="url(#filter6_d_763_168)">
                <path d="M1743.65 649.363C1752.01 673.339 1750.65 697.047 1740.61 702.316C1730.57 707.585 1726.01 688.699 1717.65 664.723C1709.28 640.747 1700.29 620.76 1710.33 615.491C1720.37 610.222 1735.29 625.387 1743.65 649.363Z" fill="#51B3EB"/>
                </g>
                <g filter="url(#filter7_d_763_168)">
                <path d="M1755.06 338.537C1747.38 362.851 1732.89 378.634 1722.71 373.791C1712.53 368.948 1710.51 345.311 1718.19 320.997C1725.88 296.684 1744.88 260.906 1755.07 265.75C1765.25 270.593 1762.75 314.223 1755.06 338.537Z" fill="#0082CD"/>
                </g>
                <g filter="url(#filter8_d_763_168)">
                <path d="M1799.98 308.654C1792.23 322.781 1782.33 330.508 1774.78 326.921C1764.6 322.078 1762.58 298.441 1770.27 274.127C1777.31 251.85 1790.06 236.733 1799.98 238.084L1799.98 308.654Z" fill="#0082CD"/>
                </g>
                <g filter="url(#filter9_d_763_168)">
                <path d="M1767.61 722.39C1771.15 732.547 1770.57 742.59 1766.32 744.822C1762.07 747.055 1760.59 746.094 1757.05 735.937C1753.51 725.781 1737 712.199 1753.49 708.041C1757.75 705.809 1764.07 712.233 1767.61 722.39Z" fill="#51B3EB"/>
                </g>
                <g filter="url(#filter10_d_763_168)">
                <ellipse cx="8.69748" cy="19.4769" rx="8.69748" ry="19.4769" transform="matrix(0.885485 -0.464669 0.329289 0.944229 1747.2 644.752)" fill="#51B3EB"/>
                </g>
                <g filter="url(#filter11_d_763_168)">
                <ellipse cx="8.69748" cy="19.4769" rx="8.69748" ry="19.4769" transform="matrix(0.885485 -0.464669 0.329289 0.944229 1745.79 469.523)" fill="#51B3EB"/>
                </g>
                <g filter="url(#filter12_d_763_168)">
                <path d="M1769.55 385.744C1767.1 401.56 1761.83 454.487 1755.2 452.945C1748.58 451.403 1739.03 409.633 1741.48 393.817C1743.93 378 1767.93 331.419 1774.55 332.961C1781.18 334.503 1774.55 375.257 1769.55 385.744Z" fill="#0082CD"/>
                </g>
                <path d="M0 61.8685V0C0 0 1760.8 17.8209 1799.36 1.15393V213.35C1799.36 213.414 1799.36 213.479 1799.36 213.546V213.35C1798.85 199.234 1686.38 262.93 1659.5 399.372L1655 451.219L1650.5 462.512L1646 468.672C1593 496.392 1548.94 433.622 1368.77 268.831C1276.14 184.102 957.783 187.253 869.689 158.782C726.743 97.9535 648.698 50.5701 511.692 55.9002C340.84 75.2222 225.247 87.8781 0 61.8685Z" fill="#0082CD"/>
                <defs>
                <filter id="filter0_d_763_168" x="1730.6" y="516.438" width="73.397" height="135.414" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter1_d_763_168" x="1773.19" y="668.896" width="30.7861" height="132.359" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter2_d_763_168" x="1665.23" y="474.113" width="66.0859" height="134.252" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter3_d_763_168" x="1773.16" y="458.412" width="30.8198" height="96" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter4_d_763_168" x="1668.78" y="366.893" width="77.6313" height="128.531" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter5_d_763_168" x="1764.58" y="331.838" width="39.3975" height="130.066" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter6_d_763_168" x="1701.89" y="614.445" width="51.2354" height="96.7598" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter7_d_763_168" x="1709.53" y="265.305" width="56.2695" height="117.359" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter8_d_763_168" x="1761.6" y="238" width="42.3765" height="97.7949" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter9_d_763_168" x="1742.29" y="707.598" width="31.6401" height="46.2168" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter10_d_763_168" x="1747.29" y="640.268" width="28.0454" height="45.668" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter11_d_763_168" x="1745.89" y="465.039" width="28.0454" height="45.668" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                <filter id="filter12_d_763_168" x="1737.09" y="332.924" width="44.2515" height="128.055" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_763_168"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_763_168" result="shape"/>
                </filter>
                </defs>
                </svg>
                
                <div class="projeto" id="projeto">
                    
                    <div class="sobreproje">
                        <div class="tituprojeto">
                            <h2>
                                Projeto
                            </h2>
                        </div >
                        <p class="textinho" style="height: 45px;display: flex;align-items: center;flex-wrap: wrap;">
                            O projeto visa aprofundar a monitorização de ecossistemas marinhos por meio de Inteligência
                            Artificial, gerando dados essenciais. Esses ecossistemas desempenham um papel vital na saúde
                            do planeta, influenciando o clima global, sustentando a biodiversidade e fornecendo recursos
                            essenciais para a vida humana. No entanto, enfrentam desafios decorrentes de mudanças
                            ambientais e de ações humanas. A utilização de IA ​​permite uma compreensão abrangente
                            desses ecossistemas e capacitar a adoção de estratégias eficazes para sua preservação. Isso
                            é fundamental para mitigar os impactos das ameaças crescentes e garantir a sustentabilidade
                            a longo prazo, beneficiando tanto a natureza quanto as comunidades humanas.</p>
                    </div> 
                    <div class="cell"><img style="max-width: 100%; 
                    height: auto;" src="static/img/celularNovo.png" alt="">
                            </div>    
                            <div class="juntos4">   
                    <div class="comput"><img style="width: 428px;
                        height: auto;" src="static/img/computadorNovo.png" alt="">
                     
                    </div>
                    <div class="ultimo"><img src="static/img/Rectangle 141.png"  alt="">
                    </div>
                        
                    <button><div class="botaoMais">Ler Mais</div></button></div>    
                         
            </section>
        </article>
    </main>
    <footer>
        <div class="footerN">
            <nav>
                <div class="texto"><p>Copyright by ThreeTech</p></div>
                
            </nav>
        </div>
    </footer>
</body>

</html>