<!-- FILEPATH: /c:/Users/fatec-dsm2/Documents/matheus.diegues.dsm2/siteflask/templates/usuarios.html -->
<!-- 
    Documentação do arquivo usuarios.html
    
    Este arquivo contém o código HTML para exibir o perfil de um usuário.
    
    Autor: Matheus Diegues
    Data de criação: [data de criação do arquivo]
    
    Exemplo de uso:
    - Incluir o nome do usuário no parágrafo usando a variável {{nome_usuario}}
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil usuario</title>
</head>
<body>
    <p>Meu nome é {{nome_usuario}}</p>

</body>
</html>